MISSIONS = [
    {% for flag in flags %}
    {
        "title": "{{ flag.title }}",
        "prompt": "{{ flag.prompt }}",
        "description": "{{ flag.description }}",
        "listener": {
            "buffer": "{{ flag.listener.buffer }}",
            "type": "{{ flag.listener.type }}",
            "match": """{{ flag.listener.match }}""",
            {% if flag.listener.timeout %}
            "timeout": {{ flag.listener.timeout }},
            {% endif %}
        }
    },
    {% endfor %}
]
